PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "jobs" (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            "title" TEXT, "company" TEXT, "location" TEXT, "date" TEXT, "job_url" TEXT, "job_description" TEXT, "applied" INTEGER, "hidden" INTEGER, "interview" INTEGER, "rejected" INTEGER, "date_loaded" TEXT
        , programme_name TEXT, opening_date TEXT, closing_date TEXT, last_year_opening TEXT, cv TEXT DEFAULT 'No', cover_letter_requirement TEXT DEFAULT 'No', written_answers_requirement TEXT DEFAULT 'No', notes TEXT, status TEXT, job_type TEXT, cover_letter TEXT, resume TEXT);
CREATE TABLE IF NOT EXISTS "filtered_jobs" (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            "title" TEXT, "company" TEXT, "location" TEXT, "date" TEXT, "job_url" TEXT, "job_description" TEXT, "applied" INTEGER, "hidden" INTEGER, "interview" INTEGER, "rejected" INTEGER, "date_loaded" TEXT
        , job_type TEXT, opening_date DATE, closing_date DATE);
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('jobs',180);
INSERT INTO sqlite_sequence VALUES('filtered_jobs',6);
COMMIT;
